Automação Industrial/Integração CLP e Banco de dados.json
[
    {
        "id": "f9137df5f0be6c56",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "341ea8985b40e6e6",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://190.201.100.92:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "8f25972e33622463",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://190.201.100.52:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "3de391411ca47b96",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d636c74018cd3676",
        "type": "ui_group",
        "name": "Controle do processo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "95b98167e0e5b47b",
        "type": "ui_group",
        "name": "LIGA/DELIGA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5e3a7f81c9baf4d",
        "type": "ui_group",
        "name": "DESAFIO",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b59afa965377f8c1",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "2982d664d691c036",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp//190.201.100.102:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "40bb52c9f02a104e",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://190.201.100.92:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "68e82fad7ff62168",
        "type": "ui_group",
        "name": "Controle do Progresso",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d1d9ec552e7b637",
        "type": "ui_group",
        "name": "Status Cilindro",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6f1a96fef78e0d7",
        "type": "ui_group",
        "name": "Controle do Processo",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23852a41cf8533e0",
        "type": "ui_group",
        "name": "Passo Atual",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "637f4a6d727780fc",
        "type": "ui_group",
        "name": "Controle",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a36738e5204a0774",
        "type": "MySQLdatabase",
        "name": "TB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "AIB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1a74ac1a0657055e",
        "type": "MySQLdatabase",
        "name": "TURMA B",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "AIB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "52fc9026bc0602ff",
        "type": "ui_group",
        "name": "Consulta bd",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "50d684d437eb3a70",
        "type": "MySQLdatabase",
        "name": "TURMA A",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "AIA",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "2e5dcf8ead428521",
        "type": "ui_tab",
        "name": "Banco de Dados",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa6013b4b10e3f86",
        "type": "ui_group",
        "name": "Tabela de Dados",
        "tab": "2e5dcf8ead428521",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24e630b4410e5f89",
        "type": "MySQLdatabase",
        "name": "Database",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "AIA",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "2dd681617b15ed90",
        "type": "MySQLdatabase",
        "name": "AIA",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "AIA",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d702b80a6b243ccc",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://190.201.100.82:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "fb2ad7f695716619",
        "type": "ui_group",
        "name": "Controle do Processo",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e75b71b2d8a24721",
        "type": "ui_group",
        "name": "Simulação Dupla",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16413acb6ad5afda",
        "type": "OpcUa-Endpoint",
        "endpoint": "",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "3075620a15ac4eef",
        "type": "ui_group",
        "name": "Controle",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8982ba2f48c37874",
        "type": "ui_group",
        "name": "Passo Atual",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2274f77a869edee",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "8eed67e85d131734",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "16185286e98a52c8",
        "type": "MySQLdatabase",
        "name": "MySQL",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "AI_A",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "0be0a497360160e3",
        "type": "ui_tab",
        "name": "Banco de Dados",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "35fb9e40e3ea0244",
        "type": "ui_group",
        "name": "Tabela de Dados",
        "tab": "0be0a497360160e3",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1adbed1ff1170a0",
        "type": "ui_spacer",
        "z": "f9137df5f0be6c56",
        "name": "spacer",
        "group": "35fb9e40e3ea0244",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "bcfa6a664b074ae4",
        "type": "function",
        "z": "f9137df5f0be6c56",
        "name": "Montar SQL",
        "func": "msg.topic = \"SELECT * FROM dados_sensores LIMIT 10\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "5cc456393d0c4d47"
            ]
        ]
    },
    {
        "id": "5cc456393d0c4d47",
        "type": "mysql",
        "z": "f9137df5f0be6c56",
        "mydb": "1a74ac1a0657055e",
        "name": "Banco de Dados",
        "x": 530,
        "y": 280,
        "wires": [
            [
                "1b9d0ab7d7f0a23f",
                "adc6bb3be766f452"
            ]
        ]
    },
    {
        "id": "1b9d0ab7d7f0a23f",
        "type": "debug",
        "z": "f9137df5f0be6c56",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "0eb6758797a55f6d",
        "type": "ui_button",
        "z": "f9137df5f0be6c56",
        "name": "",
        "group": "35fb9e40e3ea0244",
        "order": 0,
        "width": "9",
        "height": "1",
        "passthru": false,
        "label": "Leitura de Dados",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "bcfa6a664b074ae4"
            ]
        ]
    },
    {
        "id": "adc6bb3be766f452",
        "type": "function",
        "z": "f9137df5f0be6c56",
        "name": "Formatar HTML",
        "func": "let dados = msg.payload;\n\nlet html = `\n<table>\n    <tr>\n        <th>Temperatura (°C)</th>\n        <th>Pressão (bar)</th>\n    <tr>`;\nfor (let linha of dados){\n    html += `\n    <tr>\n        <td>${linha.temperatura}</td>\n        <td>${linha.pressao}</td>\n    </tr>`;\n}\nhtml +='</table>';\nmsg.payload = html;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "7a7cbc6b4b215d7d"
            ]
        ]
    },
    {
        "id": "7a7cbc6b4b215d7d",
        "type": "ui_template",
        "z": "f9137df5f0be6c56",
        "group": "35fb9e40e3ea0244",
        "name": "",
        "order": 1,
        "width": "9",
        "height": "4",
        "format": "<style>\ntable {\n    width: 100%;\n    border-collapse: collapse;\n    font-family: Arial;\n    font-size: 14px;\n}\nth,\ntd {\n    padding: 10px;\n    border: 1px solid #ccc;\n    text-align: center;\n    vertical-allign: middle;\n}\nth {\n    background-color: #4CAF50;\n    color: white;\n}\n</style>\n\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0f8b8268e902b2a9",
        "type": "ui_button",
        "z": "f9137df5f0be6c56",
        "name": "",
        "group": "35fb9e40e3ea0244",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Obter dados",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "a3515c3ecc1fee46",
                "1796d3564df7a10e",
                "01477221b7a3c080"
            ]
        ]
    },
    {
        "id": "a3515c3ecc1fee46",
        "type": "OpcUa-Item",
        "z": "f9137df5f0be6c56",
        "item": "ns=4;s=|var|XP325.Application.Node_Red.temperatura",
        "datatype": "Float",
        "value": "",
        "name": "Temperatura",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "09a839fbe440b091"
            ]
        ]
    },
    {
        "id": "09a839fbe440b091",
        "type": "OpcUa-Client",
        "z": "f9137df5f0be6c56",
        "endpoint": "8f25972e33622463",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "2f2ccb31a889bc9c",
                "78cae1c586842296"
            ],
            [],
            []
        ]
    },
    {
        "id": "2f2ccb31a889bc9c",
        "type": "function",
        "z": "f9137df5f0be6c56",
        "name": "GlobalVar_temp",
        "func": "let temperatura = msg.payload; //msg.payload é quem armazena dados\nglobal.set(\"temperatura\",temperatura);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "78cae1c586842296",
        "type": "debug",
        "z": "f9137df5f0be6c56",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "1796d3564df7a10e",
        "type": "OpcUa-Item",
        "z": "f9137df5f0be6c56",
        "item": "ns=4;s=|var|XP325.Application.Node_Red.pressao",
        "datatype": "Float",
        "value": "",
        "name": "Pressão",
        "x": 280,
        "y": 640,
        "wires": [
            [
                "61ade2a68902c408"
            ]
        ]
    },
    {
        "id": "61ade2a68902c408",
        "type": "OpcUa-Client",
        "z": "f9137df5f0be6c56",
        "endpoint": "8f25972e33622463",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "x": 480,
        "y": 640,
        "wires": [
            [
                "ff46ea016ed5d684",
                "23d9ac0a77af28b8"
            ],
            [],
            []
        ]
    },
    {
        "id": "ff46ea016ed5d684",
        "type": "function",
        "z": "f9137df5f0be6c56",
        "name": "GlobalVar_pressao",
        "func": "let pressao = msg.payload; //msg.payload é quem armazena dados\nglobal.set(\"pressao\", pressao);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "23d9ac0a77af28b8",
        "type": "debug",
        "z": "f9137df5f0be6c56",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "ffd3cf2456a1a023",
        "type": "comment",
        "z": "f9137df5f0be6c56",
        "name": "Leitura do CLP",
        "info": "",
        "x": 340,
        "y": 200,
        "wires": []
    },
    {
        "id": "dace76909c50e063",
        "type": "comment",
        "z": "f9137df5f0be6c56",
        "name": "Escrita do CLP",
        "info": "",
        "x": 280,
        "y": 440,
        "wires": []
    },
    {
        "id": "01477221b7a3c080",
        "type": "delay",
        "z": "f9137df5f0be6c56",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 760,
        "wires": [
            [
                "87a2a8caed7b17de"
            ]
        ]
    },
    {
        "id": "87a2a8caed7b17de",
        "type": "function",
        "z": "f9137df5f0be6c56",
        "name": "Salvar no banco de dados",
        "func": "let temperatura = global.get(\"temperatura\").toFixed(2);\nlet pressao = global.get(\"pressao\").toFixed(2);\nmsg.payload = \"temp: \" + temperatura + \" pressao: \" + pressao;\nmsg.topic = \"INSERT INTO dados_sensores (temperatura,pressao) values (\" + temperatura + \" , \" + pressao + \")\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 760,
        "wires": [
            [
                "fd7dde5aba38c253",
                "f7aeb318d5d1871f"
            ]
        ]
    },
    {
        "id": "fd7dde5aba38c253",
        "type": "mysql",
        "z": "f9137df5f0be6c56",
        "mydb": "a36738e5204a0774",
        "name": "",
        "x": 670,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f7aeb318d5d1871f",
        "type": "debug",
        "z": "f9137df5f0be6c56",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 820,
        "wires": []
    }
]